#infoTooltipContainer {
    color: #777;
    background: white;
    background: rgba(255, 255, 255, 0.9);
    font-family: 'Open Sans', sans-serif;
}

#infoTooltipContainer span {
    font-weight: 700;
}